{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Acerca de</h1>
	<p>Desarrollo de Django es apoyado por una fundación independiente establecida como 501 (c) (3) sin fines de lucro. Como la mayoría de bases de 	código abierto, el objetivo de la Fundación Django Software es promover, apoyar y avanzar en su proyecto de código abierto: en nuestro caso, el marco Web Django.</p>

<p>Los objetivos de la fundación son:</p>

<li>Apoyar el desarrollo de Django mediante el patrocinio de sprints, quedadas, reuniones y eventos comunitarios.</li>
<li>Promover el uso de Django entre la comunidad de desarrollo web en todo el mundo.</li>
<li>Proteger la propiedad intelectual y la viabilidad del marco a largo plazo.</li>
<li>Avanzar en el estado del arte en el desarrollo Web.</li>
</div>

</div>


{% endblock %}